<div ng-controller="controllerEdit">
    <form name="formUsuariosGerenciamentoEdit">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label>Nome completo</label>
                            <input ng-model="Usuario.nome" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label>Data de nascimento</label>
                            <input ng-model="Usuario.nascimento" type="date" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Email</label>
                            <input ng-model="Usuario.email" type="email" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label>Login</label>
                            <label style="color: red;" ng-if="SugestoesLogins != null"> - Login já existente</label>
                            <input ng-model="Usuario.login" type="text" class="form-control" required>

                            <div ng-if="SugestoesLogins != null">
                                <div class="col-12 mb-2" >
                                    <span class="font-weight-bold">Sugestões de login...</span>
                                </div>
                                <div class="col-12 mb-2" ng-repeat="sugestao in SugestoesLogins">
                                    <span>{{sugestao}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label>Senha</label>
                            <input ng-model="Usuario.senha" type="password" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group float-right">
                            <button type="submit" class="btn btn-primary" ng-click="VerificarDisponibilidadeLogin()">
                                <span class="text">Verificar login</span>
                            </button>
                            <button type="submit" class="btn btn-primary"
                                ng-click="Salvar(formUsuariosGerenciamentoEdit)" ng-disabled="LoginVerificado == false">
                                <span class="text">Salvar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>